* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: red;
  --secondary-color:black;
  --thrid-color: white;
  --fouth-color: orangered;
  --fifth-color: green;
}
.main-content {
  display: flex;
  width: 100%;
}
body{
    background-color: var(--thrid-color);
}

.sidebar {
  height: 100vh;
  background-color:var(--secondary-color);
  width: 200px;
  padding: 0px 10px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  overflow-y: auto;
}

.logo {
  height: 100px;
  /* background-color:#F97316; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  gap: 8px;
  border: 2px solid var(--primary-color);
  border-radius: 7px;
  background-color: var(--secondary-color);
}
.logo_title {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-color);
  
}
.logo img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.search-bar input{
    width: 200px;
    padding: 12px 20px;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    background-color:var(--primary-color);
    color:var(--thrid-color);
    outline: none;
    cursor: pointer;
}
.search-bar button{
    border: 1px solid var(--fouth-color);
    cursor: pointer;
}

.search-bar button:hover{
    background-color: var(--fifth-color);
}
#btn:hover{
    background-color: var(--fifth-color);
}

.navbar {
    padding-top:20px;
    padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--primary-color);
  border-radius: 7px;
  background-color: var(--secondary-color);
}

.navlink {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.link {
    font-size: 20px;
    padding: 5px;
    background-color: var(--primary-color);
    border-radius: 7px;

}
.link a{
    text-decoration: none;
    color: var(--secondary-color);
}
/*it was white*/
.active{
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 6px;
}

.link:hover{
    background-color: var(--fifth-color);
    border-radius: 6px;
}

.library-section{
    padding:10px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--secondary-color);
    width: calc(100vw - 200px);
    margin-left: 200px;
}


.book-library{
    display: flex;
    justify-content: space-between;
    align-items: center;

  height: 200px;
  width: 100%;
background-image:url("../image/logobig.webp") ;
background-size: cover;
background-repeat: no-repeat;
border-radius: 12px;
border:2px solid var(--primary-color);

padding-left: -3px;

}

.book-library button{
    background-color:var(--primary-color);
    color: var(--thrid-color);
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 7px;
}
.books-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.books-title p{
    font-size: 20px;
    font-weight: 600;
}
#book-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 0;
    scroll-behavior: smooth;
    width: 100%;
    margin-right: 20px;
    max-height: 200%;
}

#book-container::-webkit-scrollbar {
    height: 8px;
}

#book-container::-webkit-scrollbar-track {
    background: var(--primary-color);
    border-radius: 10px;
}

#book-container::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}

#book-container::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

.book-card{
    background-color:var(--primary-color);
    width: 230px;
    min-width: 230px;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/* it was -10px */
.book-card:hover {
    transform: translateY(-20px);
    box-shadow: 0 10px 16px rgba(255, 60, 1, 0.774);
}
.book-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.book-desc{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.title{
    font-size: 18px;
    font-weight: 600;
    color:var(--secondary-color);
}
.author{
    font-size: 15px;
    font-weight: 500;
    color: var(--secondary-color);
}
.desc{
    font-size: 14px;
    color: var(--secondary-color);
}
/* it was white */
p{
    color: var(--primary-color);
}
/* it was none */
#usericon{
    display:flex;
}
#signInbtn:hover{
    background-color:var(--fifth-color);
}